h1 {
    padding-top: 25px;
    font-size: 28px;
    font-weight: 500px;
    color: black;
}

h2 {
    font-size: 15px;
    margin-top: 5px;
}

h1,
h2 {
    font-family: "Press Start 2P", cursive;
}

.float-left {
    margin-top: -150px;
    font-family: "Press Start 2P", cursive;
}
.weatherness{
    max-width:600px;
    margin: 0 auto;
}

.pac {
    margin-top: -5px;
    margin-bottom: 07px;
    color: greenyellow;
    font-family: "Press Start 2P", cursive;
    max-width: 600px;
    text-align: center;
}

.pacone {
    color: red;
    font-size: 20px;
}

.pactwo {
    color: red;
    font-size: 20px;
}

.temperature {
    font-size: 39px;
    margin-top: -30px;
    color: white;
    line-height: 1;
    font-family: "Press Start 2P", cursive;
}

h3 {
    font-size: 14px;
    font-family: "Press Start 2P", cursive;
}

body  {
    background: conic-gradient( green,yellow,red,black);
}

.container {
    background: linear-gradient(#087c02, #000000);
    font-family: "Press Start 2P", cursive;
    width: 345px;
    margin-top: 2px;
    padding: 20px;
}

.search-bar {
    width: 90%;
    max-width: 540px;
    height: 30px;
    background: white;
    border-radius: 60px;
    padding: 1px 8px;

    display: flex;
    margin-top: -38px;
    color: white;
    font-family: "Press Start 2P", cursive;
}

.search-form {
    margin-top: -26px;
    color: green;
    margin-left: -50px;
}

.search-form input {
    background: black;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 6px;
    color: green;
    font-family: "Press Start 2P", cursive;
    margin-left: -10px;
}

.search-form button {
    border: 0;
    width: 15px;
    height: 23px;
    cursor: pointer;
    margin-left: 270px;
    margin-top: -36px;
    background-color: black;
}

.location {
    color: red;
    margin-top: -10px;
    margin-left: -5px;
}

.sunny {
    color: red;
    padding-left: 200px;
    font-size: 9px;
}

.humidity,
.wind {
    padding-left: 200px;
    font-size: 8px;
    color: yellow;
}

.wind {
    margin-top: -15px;
}

.last-updated {
    font-size: 8px;
    color: red;
    margin-bottom: 30px;
}

.monday-image,
.tuesday-image,
.wednesday-image,
.thursday-image,
.friday-image {
    display: block;
    font-size: 20px;
    padding-left: 20px;
}

.monday-image,
.friday-image {
    color: green;
    padding-left: 6px;
}

.tuesday-image {
    color: green;
    padding-left: 6px;
}

.wednesday-image {
    color: green;
    padding-left: 6px;
}

.thursday-image {
    color: green;
    padding-left: 6px;
}

.dates {
    color: yellowgreen;
    margin-top: 95px;
}

.h {
    width: 90%;
    height: 02px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: yellow;
}

.col-9 {
    width: 10px;
}

.row {
    margin-top: 10px;
    font-size: 8px;
    margin-left: 35px;

}

.current-weather {
    color: greenyellow;
    font-size: 45px;
    font-family: "Press Start 2P", cursive;

    text-align: center;
    margin-bottom: -40px;
    margin-left: -70px;
}

.monday-weather,
.tuesday-weather,
.wednesday-weather,
.thursday-weather,
.friday-weather,
.saturday-weather {
    font-size: 7px;
    margin-top: 30px;

}

.units {
    position: relative;
    top: -28px;
    font-family: "Press Start 2P", cursive;
    color: white;
    font-size: 20px;
}

.monday,
.tuesday,
.wednesday,
.thursday,
.friday,
.saturday {
    border: 1px;
    border-style: none;
    transition: 0.6s ease-in-out;
    cursor: pointer;
    color: white;
    margin-left: -15px;
    text-align: center;


}


.monday:hover {

    background:linear-gradient(rgb(107, 104, 104),rgb(153, 35, 35),rgb(245, 172, 38),rgb(247, 247, 145));
    transform: scale(1.5);
}

.tuesday:hover {
    background-color: black;
    transform: scale(1.5);
}

.wednesday:hover {
    background-color: black;
    transform: scale(1.5);
}

.thursday:hover {
    background-color: black;
    transform: scale(1.5);
}

.friday:hover {
    background-color: black;
    transform: scale(1.5);
}

.coder {
    font-family: "Press Start 2P", cursive;
    font-size: 6px;
    margin-top: 15px;
    color: #087c02;
    margin-left: 200px;
    text-align: center;
}

.pacmangame {
    font-family: "Press Start 2P", cursive;
    font-size: 9px;
    color: yellow;
    text-decoration: none;
    text-align: center;


}

.scores {
    color: white;
    font-family: "Press Start 2P", cursive;
    font-size: 9px;
    max-width: 600px;
    text-align: center;
}
.score {
    margin-left: -10px;
}

.numbers {
    margin-left: 132px;
}


.footer {
    font-family: "Press Start 2P", cursive;
    font-size: 9px;
    color: white;
}

.page-end {
     max-width: 600px;
     margin: 0 auto;
     
}

.lives{
    margin-left: 130px;
    
}
.cherry{
    margin-left: 200px;
}
