h1 {
    padding-top: 25px;
    font-size: 28px;
    font-weight: 500px;
    color: rgb(2, 2, 56);
}

h2 {
    font-size: 15px;
    margin-top: 5px;
}

h1,
h2 {
    font-family: "Press Start 2P", cursive;
}

.float-left {
    margin-top: -150px;
    font-family: "Press Start 2P", cursive;
}
.weatherness{
    max-width:600px;
    margin: 0 auto;
}

.pac {
    margin-top: -5px;
    margin-bottom: 07px;
    color: greenyellow;
    font-family: "Press Start 2P", cursive;
    max-width: 600px;
    text-align: center;
}

.pacone {
    color: red;
    font-size: 20px;
}

.pactwo {
    color: black;
    font-size: 20px;
}

.temperature {
    font-size: 39px;
    margin-top: -30px;
    color: #F2896C;
    line-height: 1;
    font-family: "Press Start 2P", cursive;
}

h3 {
    font-size: 14px;
    font-family: "Press Start 2P", cursive;
}

body  {
    background: conic-gradient(#F2896C,#6E5D77);
}

.container {
    background: linear-gradient(#43948B,#274C58);
    font-family: "Press Start 2P", cursive;
    width: 360px;
    margin-top: 2px;
    padding: 20px;
    border: 1px black;
    border-radius: 1em;
}

.search-bar {
    width: 100%;
    max-width: 800pxpx;
    height: 40px;
    background: white;
    border-radius: 60px;
    padding: 1px 10px;

    display: flex;
    margin-top: -38px;
    color:green;
    font-family: "Press Start 2P", cursive;
}

.search-form {
    margin-top: -26px;
    color: green;
    margin-left: -50px;
    width: 125%;
}

.search-form input {
    background:#F6857B;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 6px;
    color: white;
    font-family: "Press Start 2P", cursive;
    margin-left: -10px;
    padding-top: 6px;
}

.search-form button {
    border: 0;
    width: 15px;
    height: 23px;
    cursor: pointer;
    margin-left: -35px;
    margin-top: 0px;
    background-color: #F6857B;
}

.location {
    color: white;
    margin-top: -10px;
    margin-left: -5px;
}

.sunny {
    color: white;
    padding-left: 200px;
    font-size: 10px;
}

.humidity,
.wind {
    padding-left: 200px;
    font-size: 8px;
    color:#E4846D ;
}

.wind {
    margin-top: -15px;
}

.last-updated {
    font-size: 8px;
    color: orangered;
    margin-bottom: 30px;
}

.monday-image,
.tuesday-image,
.wednesday-image,
.thursday-image,
.friday-image {
    display: block;
    font-size: 30px;
    padding-left: 20px;

}

.monday-image,
.friday-image {
    color: #274C58;
    padding-left: 6px;
}

.tuesday-image {
    color:#274C58;
    padding-left: 6px;
}

.wednesday-image {
    color: #274C58;
    padding-left: 6px;
}

.thursday-image {
    color: #274C58;
    padding-left: 6px;
}

.dates {
    color: yellowgreen;
    margin-top: 95px;
}

.h {
    width: 90%;
    height: 02px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:#F2896C ;
        
}



.row {
    margin-top: 10px;
    font-size: 8px;
    margin-left: 30px;

}

.current-weather {
    color: greenyellow;
    font-size: 45px;
    font-family: "Press Start 2P", cursive;

    text-align: center;
    margin-bottom: -40px;
    margin-left: -70px;
}

.monday-weather,
.tuesday-weather,
.wednesday-weather,
.thursday-weather,
.friday-weather,
.saturday-weather {
    font-size: 10px;
    margin-top: 30px;
    color: #F2896C;

}

.units {
    position: relative;
    top: -28px;
    font-family: "Press Start 2P", cursive;
    color: #F2896C;
    font-size: 20px;
}

.monday,
.tuesday,
.wednesday,
.thursday,
.friday,
.saturday {
    border: 1px green;
    transition: 0.6s ease-in-out;
    cursor: pointer;
    color: black;
    text-align: center;
    box-shadow:yellow;
    width: 43px;
    margin-left: -8px;
    border-radius: 1em;
    background:linear-gradient(#ECADBA,#6E5D77);


}


.monday:hover {

    transform: scale(1.5);
}

.tuesday:hover {
    background-color: black;
    transform: scale(1.5);
}

.wednesday:hover {
    background-color: black;
    transform: scale(1.5);
}

.thursday:hover {
    background-color: black;
    transform: scale(1.5);
}

.friday:hover {
    background-color: black;
    transform: scale(1.5);
}

.coder {
    font-family: "Press Start 2P", cursive;
    font-size: 6px;
    margin-top: 15px;
    color: #087c02;
    margin-left: 200px;
    text-align: center;
}

.pacmangame {
    font-family: "Press Start 2P", cursive;
    font-size: 9px;
    color: yellow;
    text-decoration: none;
    text-align: center;


}

.scores {
    color: white;
    font-family: "Press Start 2P", cursive;
    font-size: 9px;
    max-width: 600px;
    text-align: center;
}
.score {
    margin-left: -10px;
}

.numbers {
    margin-left: 132px;
}


.footer {
    font-family: "Press Start 2P", cursive;
    font-size: 9px;
    color: white;
}

.page-end {
     max-width: 600px;
     margin: 0 auto;
     
}

.lives{
    margin-left: 130px;
    
}
.cherry{
    margin-left: 200px;
}
