h1 {
    padding-top: 25px;
    font-size: 28px;
    font-weight: 500px;
    color: rgb(2, 2, 56);
}

h2 {
    font-size: 15px;
    margin-top: 5px;
}

h1,
h2 {
    font-family: "Press Start 2P", cursive;
}

.float-left {
    font-family: "Press Start 2P", cursive;
}

.weatherness {
    max-width: 600px;
    margin: 0 auto;
}

.pac {
    margin-top: 25px;
    margin-bottom: 07px;
    color: #020238;
    font-family: "Press Start 2P", cursive;
    max-width: 600px;
    text-align: center;
}

.pacone {
    color: #F2896C;
    font-size: 20px;
}

.pactwo {
    color: white;
    font-size: 20px;
}

.temperature {
    font-size: 45px;
    margin-top: 120px;
    color: #F2896C;
    line-height: 1;
    font-family: "Press Start 2P", cursive;
}

h3 {
    font-size: 14px;
    font-family: "Press Start 2P", cursive;
}

body {
    background: conic-gradient(#F2896C, #6E5D77);
}

.container {
    background: linear-gradient(#43948B, #274C58);
    font-family: "Press Start 2P", cursive;
    width: 360px;
    margin-top: 2px;
    padding: 20px;
    border: 1px black;
    border-radius: 1em;
}

.search-bar {
    width: 100%;
    max-width: 800pxpx;
    height: 40px;
    background: white;
    border-radius: 60px;
    padding: 1px 10px;

    display: flex;
    margin-top: -38px;
    color: green;
    font-family: "Press Start 2P", cursive;
}

.search-form {
    margin-top: -26px;
    color: white;
    margin-left: -50px;
    width: 125%;
}

.search-form input {
    background: #E4A8B6;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 6px;
    color: white;
    font-family: "Press Start 2P", cursive;
    margin-left: -10px;
    padding-top: 6px;
}

.search-form button {
    border: 0;
    width: 15px;
    height: 23px;
    cursor: pointer;
    margin-left: -35px;
    margin-top: 0px;
    background-color: #E4A8B6;
}

.location {
    color: white;
    margin-top: -10px;
    margin-left: -5px;
}

.sunny {
    color: white;
    padding-left: 200px;
    font-size: 8px;
}

.humidity,
.wind {
    padding-left: 200px;
    font-size: 8px;
    color: #E4846D;
}

.wind {
    margin-top: -15px;
}

.last-updated {
    font-size: 8px;
    color: #020238;
    margin-bottom: 30px;
}

.dates {
    color: #020238;
    margin-top: 11px;
}

.h {
    width: 90%;
    height: 02px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F2896C;

}
.row {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 8px;
}

.weather-forecast-temperature-max,
.weather-forecast-temperature-min {
    font-size: 6px;
    margin-top: 30px;
    color: #F2896C;

}
.weather-forecast-temperature-min{
    opacity:0.5;
}
.units {
    position: relative;
    top: -38px;
    font-family: "Press Start 2P", cursive;
    color: #F2896C;
    font-size: 9px;
}
.weather-forecast-date {
    text-align: center;
    color: white;
    text-transform: capitalize;
}
.weather-forecast{
border: 1px none;
transition: 0.6s ease-in-out;
cursor: pointer;
color: white;
width: 50px;
border-radius: 1em;
background: linear-gradient(#15183A, #6E5D77, #ECADBA);
}

.weather-forecast:hover {

    transform: scale(1.5);
}


a {
    color: white;
}

.pacmangame {
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    color: white;
}

.scores {
    color: white;
    font-family: "Press Start 2P", cursive;
    font-size: 9px;
    max-width: 600px;
    text-align: center;
}

.score {
    margin-left: -10px;
}

.numbers {
    margin-left: 132px;
}


.footer {
    font-family: "Press Start 2P", cursive;
    font-size: 9px;
    color: white;
}

.weather-icon {
    font-size: 40px;
    padding-right: 55px;
}